.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

# lecture slides ignore
**/Lecture_slides/
**/CS6650-Scalable_Distributed_Systems/
**/CS6120-NLP/

**/BQ/